@charset "ISO-8859-1";
@media screen and (max-width:600px) {
 .column {
 width: 100%;
 }
}
 * {
 box-sizing: border-box;
}
p {
	 color: #ffffff;
}
header{
 padding: 10px;
 text-align: center;
 font-size: 35px;
 background-color: #EFA74A;
}
section#row{
 padding: 10px 0px 10px 0px;
 display:block;
}
section#row:after {
 content: "";
 display: table;
 clear: both;
}
section#main {
 float: left;
 width:47%;
 padding: 0px 10px 0px 15px;
 background-color: #ffffff;
 color: #000000;
 text-align: center;
}
section#content {
 padding: 10px 10px 10px 10px;
 background-color: #EFA74A;
 color: #000000;
 }
 #PersonalFS {
 width:350px;
}
footer{
 text-align: center;
 padding: 1px;
 background-color: #EFA74A;
 clear: both;
}
nav{
 float: left;
 width:20%;
 background-color: #FFFFFF;
 padding: 0px 10px 0px 0px;
 text-align: center;
 
}
nav a {
 display: block;
 color: ffffff;
 padding: 10px 10px;
 text-decoration: none;
}
/* Change color on hover */
nav1 a:hover {
 background-color: #ddd;
 color: black;
}
nav ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
nav li:hover,
nav li:focus {
 color: #666;
 background-color: #EFA74A;
}
nav li.active {
 background: #555;
 color: #ffffff !important;
}
aside {
 float: right;
 width: 30%;
 background-color: #f1f1f1;
}